.navbar#header
  .navbar__left
    = link_to root_path do
      = image_tag("#{asset_path "monokabu.png"}", alt: "logo", height: "80", width: "100")
    =form_tag search_stocks_path, method: :get do
      %input.search{:name => "keyword", :placeholder => "検索 ex. jordan", :type => "text", :value => ""}/
      .submit
      = submit_tag "Search", class: "submit"
  .navbar__right
    %ul#nav
      %li
        =link_to "ホーム", stocks_path
        %ul
          -# %li
          -#   = link_to "Sign in with Facebook",  user_facebook_omniauth_authorize_path, :class => 'navbar-link'
          %li
            =link_to "検索", search_stocks_path
          %li
            =link_to "準備中", stocks_path

          - if user_signed_in?
            %ul#navi
              %li.sign
                My Account
                %ul
                  %li
                    =link_to "マイページ",user_path(current_user.id)
                  %li
                    =link_to "サインアウト", destroy_user_session_path, method: :delete

          - else
            %ul#navi
              %li.sign
                My Account
                %ul
                  %li
                    = link_to "サインアップ", new_user_registration_path
                  %li
                    = link_to "ログイン", new_user_session_path
