= render 'stocks/navbar'
.home{ style: "background-image: url(#{asset_path "louisvuitton.jpg"})"}
  %h3
    買いたい値段でモノを買う時代
  %h1
    モノカブなら自分の欲しい値段で購入できる！
  -if user_signed_in?
  -else
    %h4
      ＊プロトタイプです。まずは　
      = link_to new_user_registration_path do
        サインアップ
      して触ってみてね
  .box
    =form_tag search_stocks_path, method: :get do
      %input.search{:name => "keyword", :placeholder => "欲しいものを検索してみよう", :type => "text", :value => ""}/
      .submit
      = submit_tag "Search", class: "submit"

  .category
    .box
      %ul
        %li
          SNEAKER
        %li
          STREETWEAR
        %li
          WATCHES
        %li
          HANDBAG

.slider-container
  .single-item
    .div
      %img(src= "#{asset_path "supreme.png"}")
    .div
      %img(src= "#{asset_path "louisvuitton2.jpg"}")
    .div
      %img(src= "#{asset_path "adpic.jpg"}")

.container-index
  .container-index__graph
    .foto
      = area_chart @chart_data, height: "200px", width: "350px"
      .fonts
        %p
          ブランド別 INDEX
        %h1
          700000
        %h2 -¥22.52(4.5%)
    .foto
      = area_chart @chart_data, height: "200px", width: "350px"
      .fonts
        %p
          ブランド別 INDEX
        %h1
          454432
        %h2 -¥303.3(4.5%)
    .foto
      = area_chart @chart_data, height: "200px", width: "350px"
      .fonts
        %p ブランド別 INDEX
        %h1 224442
        %h2 -¥5,320.83(4.5%)

.supply-section
  .hako1
    %p.popular
      MOST POPULAR
    .supply-section__popular.clearfix
      - @item.first(5).each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask 最終取引
            - if item.sold_price_for_sells[0].present?
              - @sold = item.sold_price_for_sells.sort.last
              %p.price ¥ #{@sold.sold_price}
            - else
              %p.price ¥---
            %p.sold 出品数 #{item.stock}
            %p.stock #{item.color.color }
  .hako2
    %p.lowest
      NEW LOWEST ASKS
    .supply-section__lowest.clearfix
      - @item.last(5).each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask 最終取引
            - if item.sold_price_for_sells[0].present?
              - @sold = item.sold_price_for_sells.sort.last
              %p.price ¥ #{@sold.sold_price}
            - else
              %p.price ¥---
            %p.sold 出品数 #{item.stock}
            %p.stock #{item.color.color }
  .hako3
    %p.highest
      NEW HIGHEST BIDS
    .supply-section__highest.clearfix
      - @item.first(5).each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask 最終取引
            - if item.sold_price_for_sells[0].present?
              - @sold = item.sold_price_for_sells.sort.last
              %p.price ¥ #{@sold.sold_price}
            - else
              %p.price ¥---
            %p.sold 出品数 #{item.stock}
            %p.stock #{item.color.color }

= render 'stocks/footer'
