.navbar
  .navbar__left
    %img{alt: "顔写真", height: "80", src: "#{asset_path "logo.jpg"}", width: "100"}
  .navbar__right
    %ul
      =link_to new_item_path do
        %li
          Browse
      =link_to stocks_path do
        %li
          Blog
      =link_to stocks_path do
        %li
          App
      =link_to stocks_path do
        %li
          Portfolio
      =link_to stocks_path do
        %li
          About
      =link_to stocks_path do
        %li
          Login/Sign Up

.home{ style: "background-image: url(#{asset_path "louisvuitton.jpg"})"}
  %h3
    testTHE STOCK MARKET OF THINGS®
  %h1
    BUY AND SELL AUTHENTIC STREETWEAR
  .box
    .search
      %p
        Search for brand
        %i.fa.fa-search
    .submit
      %p
        Browser All
  .category
    .box
      %ul
        %li
          SNEAKER
        %li
          STREETWEAR
        %li
          WATCHES
        %li
          HANDBAG

.image-container
  .foto-session
    %img(src= "#{asset_path "adpic.jpg"}")

.container-index
  .container-index__graph
    .foto
      %img(src= "#{asset_path "graph.jpg"}")
      .fonts
        %p
          JORDAN INDEX
        %h1
          700000
        %h2 -$22.52(4.5%)
    .foto
      %img(src= "#{asset_path "graph.jpg"}")
      .fonts
        %p
          NIKE INDEX
        %h1
          454432
        %h2 -$22.52(4.5%)
    .foto
      %img(src= "#{asset_path "graph.jpg"}")
      .fonts
        %p ADIDAS INDEX
        %h1 224442
        %h2 -$22.52(4.5%)

  .supply-section
    %p.popular
      MOST POPULAR
    .supply-section__popular
      - @item.each do |item|
        .mono
          = image_tag item.kind.images[0].image.to_s
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask Lowest Ask
            %p.price $500
            %p.sold #{item.stock} left
            %p.stock #{item.color.color }
