= render 'stocks/navbar'
.home{ style: "background-image: url(#{asset_path "louisvuitton.jpg"})"}
  %h3
    買いたい値段でモノを買う時代
  %h1
    モノカブなら自分の欲しい値段で購入できる！
  -if user_signed_in?
  -else
    %h4
      ＊プロトタイプです。まずは　
      = link_to new_user_registration_path do
        サインアップ
      して触ってみてね
  .box
    .search
      %p
        欲しいものを検索してみよう（準備中）
        %i.fa.fa-search
    .submit
      %p
        サーチ
  .category
    .box
      %ul
        %li
          SNEAKER
        %li
          STREETWEAR
        %li
          WATCHES
        %li
          HANDBAG

.image-container
  .foto-session
    %img(src= "#{asset_path "supreme.png"}")

.container-index
  .container-index__graph
    .foto
      %img(src= "#{asset_path "grapgh-image.png"}")
      .fonts
        %p
          ブランド別 INDEX
        %h1
          700000
        %h2 -¥22.52(4.5%)
    .foto
      %img(src= "#{asset_path "grapgh-image.png"}")
      .fonts
        %p
          ブランド別 INDEX
        %h1
          454432
        %h2 -¥303.3(4.5%)
    .foto
      %img(src= "#{asset_path "grapgh-image.png"}")
      .fonts
        %p ブランド別 INDEX
        %h1 224442
        %h2 -¥5,320.83(4.5%)

.supply-section
  .hako1
    %p.popular
      MOST POPULAR
    .supply-section__popular.clearfix
      - @item.each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask 最終取引
            - if item.sold_prices[0].present?
              - @sold = item.sold_prices.sort.last
              %p.price ¥ #{@sold.sold_price}
            - else
              %p.price ¥---
            %p.sold 出品数 #{item.stock}
            %p.stock #{item.color.color }
  .hako2
    %p.lowest
      NEW LOWEST ASKS
    .supply-section__lowest.clearfix
      - @item.each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask 最終取引
            - if item.sold_prices[0].present?
              - @sold = item.sold_prices.sort.last
              %p.price ¥ #{@sold.sold_price}
            - else
              %p.price ¥---
            %p.sold 出品数 #{item.stock}
            %p.stock #{item.color.color }
  .hako3
    %p.highest
      NEW HIGHEST BIDS
    .supply-section__highest.clearfix
      - @item.each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask 最終取引
            - if item.sold_prices[0].present?
              - @sold = item.sold_prices.sort.last
              %p.price ¥ #{@sold.sold_price}
            - else
              %p.price ¥---
            %p.sold 出品数 #{item.stock}
            %p.stock #{item.color.color }
