.navbar
  .navbar__left
    = link_to image_tag("#{asset_path "logo.jpg"}", alt: "logo", height: "80", width: "100"), root_path
  .navbar__right
    %ul
      =link_to new_item_path do
        %li
          Browse
      =link_to stocks_path do
        %li
          Blog
      =link_to stocks_path do
        %li
          App
      =link_to stocks_path do
        %li
          Portfolio
      =link_to stocks_path do
        %li
          About
      - if user_signed_in?
        =link_to destroy_user_session_path, method: :delete do
          %li
            Log Out
      - else
        = link_to new_user_registration_path do
          %li
            Sign Up
        = link_to new_user_session_path do
          %li
            Login

.home{ style: "background-image: url(#{asset_path "louisvuitton.jpg"})"}
  %h3
    THE STOCK MARKET OF THINGS®
  %h1
    BUY AND SELL AUTHENTIC STREETWEAR
  .box
    .search
      %p
        Search for brand
        %i.fa.fa-search
    .submit
      %p
        Browser All
  .category
    .box
      %ul
        %li
          SNEAKER
        %li
          STREETWEAR
        %li
          WATCHES
        %li
          HANDBAG

.image-container
  .foto-session
    %img(src= "#{asset_path "adpic.jpg"}")

.container-index
  .container-index__graph
    .foto
      %img(src= "#{asset_path "graph.jpg"}")
      .fonts
        %p
          JORDAN INDEX
        %h1
          700000
        %h2 -$22.52(4.5%)
    .foto
      %img(src= "#{asset_path "graph.jpg"}")
      .fonts
        %p
          NIKE INDEX
        %h1
          454432
        %h2 -$22.52(4.5%)
    .foto
      %img(src= "#{asset_path "graph.jpg"}")
      .fonts
        %p ADIDAS INDEX
        %h1 224442
        %h2 -$22.52(4.5%)
        #{@item.count}

.supply-section
  .hako1
    %p.popular
      MOST POPULAR
    .supply-section__popular.clearfix
      - @item.each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask Last Deal
            - if item.sold_prices[0].present?
              - @sold = item.sold_prices.sort.last
              %p.price $ #{@sold.sold_price}
            - else
              %p.price $---
            %p.sold #{item.stock} left
            %p.stock #{item.color.color }
  .hako2
    %p.lowest
      NEW LOWEST ASKS
    .supply-section__lowest.clearfix
      - @item.each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask Last Deal
            - if item.sold_prices[0].present?
              - @sold = item.sold_prices.sort.last
              %p.price $ #{@sold.sold_price}
            - else
              %p.price $---
            %p.sold #{item.stock} left
            %p.stock #{item.color.color }
  .hako3
    %p.highest
      NEW HIGHEST BIDS
    .supply-section__highest.clearfix
      - @item.each do |item|
        .mono
          - if item.kind.images[0].present?
            = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
          - else
            = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
          .text
            %p.brand  #{item.kind.brand.brand}
            %p.kinds #{item.kind.name}
            %p.ask Last Deal
            - if item.sold_prices[0].present?
              - @sold = item.sold_prices.sort.last
              %p.price $ #{@sold.sold_price}
            - else
              %p.price $---
            %p.sold #{item.stock} left
            %p.stock #{item.color.color }
