.content
  .content-top
    %h1 #{@payment.item.kind.brand.brand} &nbsp; &nbsp; #{@payment.item.kind.name}
    %p #{@payment.item.kind.body}
    %p Size #{@payment.item.size.size}
    %p price #{@payment.sell_price.sell_price}

    %img
      - if @payment.item.kind.images[0].present?
        = image_tag "#{@payment.item.kind.images[0].image.to_s}",width: "50%", height: "50%"
      - else
        %img(src= "#{asset_path "default.jpg"}")

    .account-detail
      %p ユーザー情報
      %p #{@user.name}
      %p #{@user.address}
      %p #{@user.number}
      %p クレジット情報

      = form_tag(action: :payment_confirm, method: :post) do
        %script.payjp-button{data: { key: "#{Rails.application.secrets.PAYJP_PUBLIC_KEY}"}, src: "https://checkout.pay.jp", type: "text/javascript"}


    %p Buy It Right NOW

    = form_for @payment, url: payment_path(@item.id) do |pay|
      =pay.hidden_field :user_id, value: current_user.id
      =pay.hidden_field :item_id, value: @item.id
      =pay.hidden_field :sell_price_id, value: @sell.id
      =pay.hidden_field :sold_price, value: @sell.sell_price
      =pay.submit "buy at #{@sell.sell_price}"
