= render 'stocks/navbar'
.content
  .content-top
    %h1 #{@payment.item.brand.brand} &nbsp; &nbsp; #{@payment.item.kind.name}
    %p.size Size #{@payment.item.size.size}
    %p.price 購入価格 #{@payment.sell_price.sell_price}
    %p.info #{@payment.item.kind.body}

    .howtopay
      %button#open 購入はこちら
      #overlay
      #modalWindow
        .pricing-table.pricing-three-column.row
          .plan.col-sm-4.col-lg-4
            .plan-name-bronze
              %h2 コンビニ決済
              %span #{@payment.sell_price.sell_price}円
            %ul
              ユーザー情報
              %li.plan-feature　#{@user.name}
              %li.plan-feature #{@user.address}
              %li.plan-feature #{@user.number}
              %li.plan-feature
                %a.btn.btn-primary.btn-plan-select{:href => "#"}
                  %i.icon-white.icon-ok
                  Select
          .plan.col-sm-4.col-lg-4{:style => "z-index:55;"}
            .plan-name-silver
              %h2　クレジットカード
              %span
                #{@payment.sell_price.sell_price}円
                %span.label.label-warning オススメ
            %ul
              ユーザー情報
              %li.plan-feature　#{@user.name}
              %li.plan-feature #{@user.address}
              %li.plan-feature #{@user.number}
              %li.plan-feature
                %a.btn.btn-primary.btn-plan-select{:href => "#"}
                  %i.icon-white.icon-ok
                  = form_tag(action: :payment_confirm, method: :post) do
                    %script.payjp-button{data: { key: "#{Rails.application.secrets.PAYJP_PUBLIC_KEY}"}, src: "https://checkout.pay.jp", type: "text/javascript"}
          .plan.col-sm-4.col-lg-4
            .plan-name-gold
              %h2 銀行振込
              %span #{@payment.sell_price.sell_price}円
            %ul
              ユーザー情報
              %li.plan-feature　#{@user.name}
              %li.plan-feature #{@user.address}
              %li.plan-feature #{@user.number}
              %li.plan-feature
                %a.btn.btn-primary.btn-plan-select{:href => "#"}
                  %i.icon-white.icon-ok
                  Select
          =fa_icon "times", id: "close"

  .foto-booth
    - if @item.kind.images[0].present?
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel", :style => "max-width:960px;margin:auto;"}

        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}

        .carousel-inner{:role => "listbox"}
          .item.active
            %img{:alt => "photo1", :src => "#{@item.kind.images[0].image.to_s}"}/
            .carousel-caption
              写真1
          - @item.kind.images[1..-1].each do |image|
            .item
              %img{:alt => "photo2", :src => "#{image.image.to_s}"}/
              .carousel-caption
                写真2

        %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %span.sr-only Next

    -else
      %img(src= "#{asset_path "default.jpg"}")







= render 'stocks/footer'
