= render 'stocks/navbar'
.search-result
  -@category.each_with_index do |category, i|
    #left.span3
      %ul#menu-group-1.nav.menu
        %li.item-1.deeper.parent.active
          %a{:href => "#"}
            %span.sign{"data-parent" => "#menu-group-1", "data-toggle" => "collapse", :href => "#sub-item-#{i}"}
              %i.icon-plus.icon-white
            %span.lbl #{category.category} (親)
          %ul.children.nav-child.unstyled.small.collapse{id: "sub-item-#{i}"}
            -category.brands.each do |brand|
              %li.item-2.deeper.parent.active
                =link_to "#{brand.brand}　（こ）", brand_path(brand.id), class: "lbl"
.poko
  %span.result 検索結果
.hako.clearfix
  - @product.each do |product|
    - product.items.includes(:kind, :color, :size).each do |item|
      .lineup.clearfix
        .name-color.clearfix
          %span.name.clearfix #{item.kind.name}
          %span.color Color: #{item.color.color}
        - if item.kind.images[0].present?
          = link_to image_tag(item.kind.images[0].image.to_s), stock_path(item.id)
        - else
          = link_to image_tag("#{asset_path "default.jpg"}"), stock_path(item.id)
        - if item.size.size.present?
          %p size #{item.size.size}
        - else
          %p 該当サイズなし



= render 'stocks/footer'
