= render 'stocks/navbar'
.content
  .content-top
    %h1 #{@selling.item.brand.brand} &nbsp; &nbsp; #{@selling.item.kind.name}
    %p.size Size #{@selling.item.size.size}
    %p.price 売却価格 #{@selling.buy_price.buy_price}
    %p.info #{@selling.item.kind.body}

    .account-detail
      %p ユーザー情報
      %p #{@user.name}
      %p #{@user.address}
      %p #{@user.number}
      %p 商品を売却しますか？
      = form_for selling_confirm_path do |f|
        =f.hidden_field :user_id, value: current_user.id
        =f.hidden_field :item_id, value: @item.id
        =f.hidden_field :buy_price_id, value: @buy.id
        =f.submit "こちらで手続きをっ"

  .foto-booth
    - if @selling.item.kind.images[0].present?
      = image_tag "#{@selling.item.kind.images[0].image.to_s}",width: "50%", height: "50%"
    - else
      %img(src= "#{asset_path "default.jpg"}")


= render 'stocks/footer'
