= render 'stocks/navbar'
-if user_signed_in?
  .show
    .detail
      %span.name.clearfix #{@item.kind.brand.brand} 　#{@item.kind.name}
      .size-last-price
        %span.size Size #{@item.size.size}
        - if @item.sold_price_for_sells[0].present?
          - @sold = @item.sold_price_for_sells.sort.last
          %span.price Last Price ¥ #{@sold.sold_price}

      -# %p #{@item.kind.body}
      .form-for-buy
        .now.clearfix
          - if @sell.present?
            %span.buy.clearfix ¥ #{@sell.sell_price}で購入可能
            = form_tag payment_path(@item.id), method: :get do
              =hidden_field_tag :user_id, current_user.id
              =hidden_field_tag :item_id, @item.id
              =hidden_field_tag :sell_price_id, @sell.id
              =submit_tag "buy at #{@sell.sell_price}（即買い）", class: "buy"
          - else
            %p まだ出品されていません.

          - if @buy.present?
            %span.sell ¥ #{@buy.buy_price}で売却可能
            = form_tag selling_path(@item.id), method: :get do
              =hidden_field_tag :user_id, current_user.id
              =hidden_field_tag :item_id, @item.id
              =hidden_field_tag :buy_price_id, @buy.id
              =submit_tag "sell at #{@buy.buy_price}（即売り)", class: "sell"
          - else
            %p まだ購入者がいません.


        .order
          = render 'stocks/modal'

      .fotosection
        %img
          - if @item.kind.images[0].present?
            - @item.kind.images.each do |image|
              = image_tag "#{image.image.to_s}",size:"600*400"
          - else
            %img(src= "#{asset_path "default.jpg"}")

-else
  .content
    .content-top
      %h1 #{@item.kind.brand.brand} 　#{@item.kind.name}
      %p #{@item.kind.body}
      %p Size #{@item.size.size}
      %p Last Price

      - if @sell.present?
        %p
          最安値（売り=買える）Lowest Bid #{@sell.sell_price}
      - else
        %p
          最安値（売り=買える）Lowest Bid -

      - if @buy.present?
        %p
          最高値（買い=売れる）Highest Ask #{@buy.buy_price}
      - else
        %p
          最高値（買い=売れる）Highest Ask -

      %img
        - if @item.kind.images[0].present?
          = image_tag "#{@item.kind.images[0].image.to_s}",size:"600*400"
        - else
          %img(src= "#{asset_path "default.jpg"}")




-if @item.sold_price_for_buys.present?
  %h3 売買動向
  = line_chart @chart_data




= render 'stocks/footer'
