= render 'stocks/navbar'
-if user_signed_in?
  .show.clearfix
    .detail
      %span.name.clearfix #{@item.brand.brand} 　#{@item.kind.name}
      .size-last-price
        %span.size Size #{@item.size.size}
        - if @item.sold_price_for_sells[0].present?
          - @sold = @item.sold_price_for_sells.sort.last
          %span.price Last Price ¥ #{@sold.sold_price}

      -# %p #{@item.kind.body}
      .form-for-buy
        .now.clearfix
          - if @sell.present?
            %span.buy.clearfix 現在 ¥#{@sell.sell_price}で購入可能
            = form_tag payment_path(@item.id), method: :get do
              =hidden_field_tag :user_id, current_user.id
              =hidden_field_tag :item_id, @item.id
              =hidden_field_tag :sell_price_id, @sell.id
              =submit_tag " #{@sell.sell_price}円で即買い", class: "clearfix", id:"buy"
          - else
            %p まだ出品されていません.
        .now.clearfix
          - if @buy.present?
            %span.sell 現在 ¥#{@buy.buy_price}で売却可能
            = form_tag selling_path(@item.id), method: :get do
              =hidden_field_tag :user_id, current_user.id
              =hidden_field_tag :item_id, @item.id
              =hidden_field_tag :buy_price_id, @buy.id
              =submit_tag "#{@buy.buy_price}円で即売り", class: "clearfix", id: "sell"
          - else
            %p まだ購入者がいません.



        = render 'stocks/modal'

    .fotosection.clearfix
      - if @item.kind.images[0].present?
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel", :style => "max-width:960px;margin:auto;"}

          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}

          .carousel-inner{:role => "listbox"}
            .item.active
              %img{:alt => "photo1", :src => "#{@item.kind.images[0].image.to_s}"}/
              .carousel-caption
                写真1
            - @item.kind.images[1..-1].each do |image|
              .item
                %img{:alt => "photo2", :src => "#{image.image.to_s}"}/
                .carousel-caption
                  写真2

          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
      -else
        %img(src= "#{asset_path "default.jpg"}")




-else
  .cube.clearfix
    .cube-top
      %h1 #{@item.brand.brand} 　#{@item.kind.name}
      %p #{@item.kind.body}
      %p.size Size #{@item.size.size}
      %p 最終取引値

      - if @sell.present?
        %p
          最安値（売り=買える） #{@sell.sell_price}円
      - else
        %p
          最安値（売り=買える） -

      - if @buy.present?
        %p
          最高値（買い=売れる） #{@buy.buy_price}円
      - else
        %p
          最高値（買い=売れる） -
      =link_to "ログインして入札！", new_user_session_path, class: "log"




    .pictures.clearfix
      - if @item.kind.images[0].present?
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel", :style => "max-width:960px;margin:auto;"}

          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}

          .carousel-inner{:role => "listbox"}
            .item.active
              %img{:alt => "photo1", :src => "#{@item.kind.images[0].image.to_s}"}/
              .carousel-caption
                写真1
            - @item.kind.images[1..-1].each do |image|
              .item
                %img{:alt => "photo2", :src => "#{image.image.to_s}"}/
                .carousel-caption
                  写真2

          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
      -else
        %img(src= "#{asset_path "default.jpg"}")




-if @item.sold_price_for_buys.present?
  %h3.change 売買動向
  = area_chart @chart_data




= render 'stocks/footer'
