= render 'stocks/navbar'
.account-info
  %p.clearfix
    アカウント名：#{@user.name}
  %p.clearfix
    Email：#{@user.email}
  %p.clearfix
    電話番号：#{@user.number}
  %p.clearfix
    住所：#{@user.address}




.history
  %p.sell 入札履歴(売り)
  - @sell.each do |sell|
    .history-now
      %img.clearfix
        -if sell.item.kind.images[0].present?
          =link_to stock_path(sell.item.id) do
            = image_tag "#{sell.item.kind.images[0].image.to_s}"
      =link_to user_path(sell.id, sell_price: sell.sell_price), method: :delete do
        %button #{sell.item.kind.name}の売りを削除
      =link_to stock_path(sell.item.id) do
        %li.clearfix #{sell.sell_price}円で#{sell.item.kind.name}を売りで入札中 (入札時：#{sell.created_at})


  %p.buy 入札履歴(買い)
  -@buy.each do |buy|
    .history-now
      %img.clearfix
        -if buy.item.kind.images[0].present?
          =link_to stock_path(buy.item.id) do
            = image_tag "#{buy.item.kind.images[0].image.to_s}"
          =link_to user_path(buy.id), method: :delete do
            %button #{buy.item.kind.name}の買いを削除
          = link_to stock_path(buy.item.id) do
            %li.clearfix #{buy.buy_price}縁で#{buy.item.kind.name}を買いで入札中(入札時：#{buy.created_at})

.buy-history
  %p
    購入履歴
  - @user.payments.includes(:sold_price_for_sells).each do |good|
    -good.sold_price_for_sells.each do |price|
      %li $ #{price.sold_price} で #{price.item.kind.name} を購入済み(購入時間 #{price.created_at})
